In [ ]:
import pandas as pd 

data = {"Mes": ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
        "Ventas": [10000, 15200, 14300, 25800, 2560, 12780, 32500, 23624, 12000, 15858, 23250, 11630],
        "Gastos": [6500, 6500, 6500, 7850, 6500, 8250, 6500, 9252, 6500, 10250, 12450, 13000],
        "Cobrado": ["S", "N", "N", "S", "S", "N", "S", "S", "S", "N", "S", "N"]}
    
df = pd.DataFrame(data)
print(df)

**Pregunta 1: ¿Cuántas filas tiene el dataframe?
Pregunta 2: ¿Cuáles son las columnas que los forman?
Pregunta 3: ¿Cuánto espacio ha utilizado en memoria?
Pregunta 4: ¿Cuál es la media de las ventas anuales?
Pregunta 5: Teniendo en cuenta solo las columnas Ventas y Gastos, al final de año, ¿crees que la empresa es rentable?**

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Mes      12 non-null     object
 1   Ventas   12 non-null     int64
 2   Gastos   12 non-null     int64
 3   Cobrado  12 non-null     object
dtypes: int64(2), object(2)
memory usage: 512.0+ bytes

In [9]:
print(f"El promedio de venta anual es: {df['Ventas'].mean():.1f}")

El promedio de venta anual es: 16625.2

In [10]:
total_ventas = df["Ventas"].sum()
print(total_ventas)

total_gastos = df["Gastos"].sum()
print(total_gastos)

diferencia = total_ventas - total_gastos 
rentabilidad = total_gastos/total_ventas*100

print(f"La ganancia es {diferencia},representa una rentabilidad de {rentabilidad:.1f}%")

199502
100052
La ganancia es 99450,representa una rentabilidad de 50.2%

In [11]:
promedio_anual = df["Ventas"].mean()

filtrado = df.loc[df["Ventas"] > promedio_anual]
print(filtrado)

          Mes  Ventas  Gastos Cobrado
3       Abril   25800    7850       S
6       Julio   32500    6500       S
7      Agosto   23624    9252       S
10  Noviembre   23250   12450       S

In [ ]:
print(df_animales[df_animales['Edad'] > 5]) o print(df_animales.loc[df_animales['Edad'] > 5]) o
print(df_animales.where(df_animales['Edad'] >5))

In [ ]:
data = {"Mes": ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
        "Ventas": [10000, 15200, 14300, 25800, 2560, 12780, 32500, 23624, 12000, 15858, 23250, 11630],
        "Gastos": [6500, 6500, 6500, 7850, 6500, 8250, 6500, 9252, 6500, 10250, 12450, 13000],
        "Cobrado": ["S", "N", "N", "S", "S", "N", "S", "S", "S", "N", "S", "N"]}
    
df = pd.DataFrame(data)
pendiente =  df.loc[df["Ventas"] == "N","Mes"]
print(pendiente)

In [1]:
import pandas as pd 

data = {"Mes": ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
        "Ventas": [10000, 15200, 14300, 25800, 2560, 12780, 32500, 23624, 12000, 15858, 23250, 11630],
        "Gastos": [6500, 6500, 6500, 7850, 6500, 8250, 6500, 9252, 6500, 10250, 12450, 13000],
        "Cobrado": ["S", "N", "N", "S", "S", "N", "S", "S", "S", "N", "S", "N"]}
    
df = pd.DataFrame(data)
gastos_mayores = df.loc[df["Gastos"] > df["Ventas"]]
print(gastos_mayores)

          Mes  Ventas  Gastos Cobrado
4        Mayo    2560    6500       S
11  Diciembre   11630   13000       N

In [2]:
df_copia = df.copy()
print(df_copia)

           Mes  Ventas  Gastos Cobrado
0        Enero   10000    6500       S
1      Febrero   15200    6500       N
2        Marzo   14300    6500       N
3        Abril   25800    7850       S
4         Mayo    2560    6500       S
5        Junio   12780    8250       N
6        Julio   32500    6500       S
7       Agosto   23624    9252       S
8   Septiembre   12000    6500       S
9      Octubre   15858   10250       N
10   Noviembre   23250   12450       S
11   Diciembre   11630   13000       N

In [3]:
agregada = df_copia["Beneficio"] = 0

print(df_copia)

           Mes  Ventas  Gastos Cobrado  Beneficio
0        Enero   10000    6500       S          0
1      Febrero   15200    6500       N          0
2        Marzo   14300    6500       N          0
3        Abril   25800    7850       S          0
4         Mayo    2560    6500       S          0
5        Junio   12780    8250       N          0
6        Julio   32500    6500       S          0
7       Agosto   23624    9252       S          0
8   Septiembre   12000    6500       S          0
9      Octubre   15858   10250       N          0
10   Noviembre   23250   12450       S          0
11   Diciembre   11630   13000       N          0

In [4]:
df_copia["Beneficio"] = df_copia["Ventas"] - df_copia["Gastos"]
print(df_copia)

           Mes  Ventas  Gastos Cobrado  Beneficio
0        Enero   10000    6500       S       3500
1      Febrero   15200    6500       N       8700
2        Marzo   14300    6500       N       7800
3        Abril   25800    7850       S      17950
4         Mayo    2560    6500       S      -3940
5        Junio   12780    8250       N       4530
6        Julio   32500    6500       S      26000
7       Agosto   23624    9252       S      14372
8   Septiembre   12000    6500       S       5500
9      Octubre   15858   10250       N       5608
10   Noviembre   23250   12450       S      10800
11   Diciembre   11630   13000       N      -1370

In [5]:
meses_perdida = df_copia.loc[df_copia["Beneficio"] < 0,["Mes", "Beneficio"]]
print(meses_perdida)

          Mes  Beneficio
4        Mayo      -3940
11  Diciembre      -1370

In [6]:
print(df_copia.loc[df_copia["Beneficio"] == df_copia["Beneficio"].max()])

     Mes  Ventas  Gastos Cobrado  Beneficio
6  Julio   32500    6500       S      26000

In [7]:
print(df_copia["Beneficio"].mean())
print(df_copia.loc[df_copia["Beneficio"] > df_copia["Beneficio"].mean()])

8287.5
          Mes  Ventas  Gastos Cobrado  Beneficio
1     Febrero   15200    6500       N       8700
3       Abril   25800    7850       S      17950
6       Julio   32500    6500       S      26000
7      Agosto   23624    9252       S      14372
10  Noviembre   23250   12450       S      10800